* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: grey;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 80px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0px;
}

.controls>button {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: gold;
  color: black;
  font-size: large;
  cursor: pointer;
  user-select: none;
}

.board-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 70px;
}

canvas {
  border-radius: 5px;
}

.timer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player {
  right: 0px;
  bottom: 20px;
}

.opponent {
  right: 0px;
  top: 20px;
}

.waiting-message,
.checkmate-message {
  display: none;
  margin-top: 10px;
  font-size: 18px;
  color: red;
}

@media (max-width: 600px) {

  .container {
    flex-direction: column;
    padding-left: 0px;
  }

  .controls {
    position: static;
    flex-direction: row;
  }

  .board-container {
    padding: 40px 0px;
  }

  .player {
    bottom: 0px;
    right: auto;
    left: 30px;
  }

  .opponent {
    top: 0px;
    right: 30px;
  }

  .waiting-message,
  .checkmate-message {
    text-align: center;
  }
}

.mate,
.wait {
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  font-size: 1.8rem;
  color: gold;
  background-color: rgba(0, 0, 0, 0.447);
  border-radius: 25px;
}

.mate>p,
.wait>p {
  margin: 0px;
  position: relative;
  text-align: center;
  top: 5px;
}

.mate>button {
  background-color: rgb(77, 125, 94);
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0.7px 0.5px 0.5px 0.5px gray;
}

.mate>button:hover {
  background-color: rgb(38, 139, 114);
  font-size: 1.3rem;
}

.wait {
  width: 350px;
  color: rgb(237, 226, 13);
}

.wait>button {
  background-color: rgb(9, 11, 10);
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  color: rgb(168, 164, 164);
  padding: 5px 10px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0.7px 1.5px 1px 0px rgb(82, 79, 79);
}

.wait>button:hover {
  background-color: rgb(26, 29, 29);
  font-size: 0.85rem;
}