* {
  box-sizing: border-box;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 2px;
  background-color: grey;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100svh;
}


.board-container {
  height: 100%;
  gap: 2px;
}

canvas {
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}

.timer-cnt {
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.opponent-cnt,
.player-cnt {
  width: 100%;
  flex-direction: column;
  user-select: none;
}

.pieces {
  height: 50px;
  width: 100%;
  justify-content: start;
  position: relative;
  flex-wrap: wrap;
  user-select: none;
}

.pieces div {
  width: auto;
  height: 45px;
  position: relative;
}

.pieces div img {
  width: auto;
  height: 45px;
}

.pieces div span {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 8px;
  font-weight: 800;
}

.timer {
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.player,
.opponent {
  user-select: none;
}

.controls {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.controls>button {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(136, 160, 110);
  color: black;
  font-size: large;
  cursor: pointer;
  user-select: none;
}

#draw {
  font-size: 12px;
}

.waiting-message,
.checkmate-message {
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  font-size: 1.8rem;
  color: gold;
  background-color: rgba(0, 0, 0, 0.447);
  border-radius: 25px;
  z-index: 6;
}

.checkmate-message>p,
.waiting-message>p {
  margin: 0px;
  position: relative;
  text-align: center;
  top: 5px;
}

.checkmate-message>button {
  background-color: rgb(77, 125, 94);
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0.7px 0.5px 0.5px 0.5px rgb(11, 211, 27);
}

.checkmate-message>button:hover {
  background-color: rgb(38, 139, 114);
  font-size: 1.3rem;
}

.waiting-message {
  width: 350px;
  color: rgb(237, 226, 13);
}

.waiting-message>button {
  background-color: rgb(70, 131, 101);
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  color: rgb(168, 164, 164);
  padding: 5px 10px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0.7px 1.5px 1px 0px rgb(54, 146, 43);
}

.waiting-message>button:hover {
  background-color: rgb(26, 29, 29);
  font-size: 0.85rem;
}

@media (max-width: 600px) {

  .board-container {
    position: relative;
  }

  .timer-cnt {
    position: absolute;
    bottom: 0;
    height: 100svh;
    width: 100%;
  }

  .opponent-cnt,
  .player-cnt {
    position: absolute;
    width: auto;
  }

  .controls {
    position: absolute;
    bottom: 30px;
    flex-direction: row;
  }

  .waiting-message,
  .checkmate-message {
    text-align: center;
  }
}